<div class="topbar">
  <div class="topbar-inner">
    <span class="topbar-left">U.S. &amp; Canada &mdash; Based in Colorado Springs, CO</span>
    <div class="topbar-right">
      <a href="tel:{{ site.phone }}">{{ site.phoneDisplay }} &mdash; Call or Text</a>
      <span class="topbar-sep">&middot;</span>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
  </div>
</div>
